<ion-content padding>
    <!-- ========================= X button  -->
    <div style="display: flex; flex-direction: row; justify-content: flex-end;">
      <ion-icon name="close" (click)="goBack()"></ion-icon>
    </div>

    <!-- ======================  main image -->
    <div style="display: flex; flex-direction: column; align-items: center;">
      <img src="../../assets/icon/icon_kroger.png" style="width: 120px !important;">
      <div style="display: flex; flex-direction: row; align-content: center; margin-top: 40px;">
        <ion-label>Milk</ion-label>
        <ion-icon name="people"></ion-icon>
      </div>
    </div>

    <div style="margin-top: 20px;">
      <ion-label color="success">Info</ion-label>
      <ion-label style="margin-left: 10%;">2%, Skim</ion-label>
    </div>

    <div style="margin-top: 20px;">
      <ion-label color="success">Stores</ion-label>
      <ion-label style="margin-left: 10%;">Kroger, Costco</ion-label>
    </div>
    
    <div style="margin-top: 20px;display: flex;flex-direction: row;">
      <ion-label color="success">Quantity</ion-label>
      <ion-label style="margin-left: 10%;">1 gallon</ion-label>
      <ion-label color="success" style="margin-left: 10%;">Last date</ion-label>
      <ion-label style="margin-left: 10%;">26/09</ion-label>
    </div>

    <div style="margin-top: 20px;display: flex;flex-direction: column;">
      <ion-label color="success">Other notes</ion-label>
      <ion-label style="margin-top: 10px;">1. lorem ipsum dolor sit</ion-label>
      <ion-label style="margin-top: 10px;">2. lorem ipsum dolor sit</ion-label>
    </div>



</ion-content>
