.thumnails{
    overflow-x: scroll;
    overflow-y: hidden;
    .list-thumbnail{
      height: 100%;
      white-space: nowrap;
      .img-thumb{
        display: inline-block;
        padding: 3px;
        width: 100px;
        height: 120px;
        margin:0 10px 0 0; 
        line-height: 20px;
      }
    //   .selected-img{
    //     border: 2px solid color(primary, primary);
    //   }
    }
    
}
::-webkit-scrollbar { 
    display: none; 
}

