.sign-up-btn{
    position: absolute;
    bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 80%;
  }
  .sign-up-btn ion-button{
    width: 100%;
  }
  ion-content{
    font-family: ProximaNova-Bold;
  }
  ion-content h1{
    font-weight: bold;
    text-align: left;
    font-size: 1.5rem;
  }
  ion-content ion-label{
    position: relative;
    height: 80vh;
    padding-top: 5vh;
  }
  .terms{
    position: absolute;
    bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 95%;
  }