<ion-content padding center>
  <ion-label color="primary">
    <div style="display: flex; justify-content: center;margin-top: 20px;">
      <h1 style="font-size: 35px; font-style: italic;">doKaam</h1>
    </div>
  </ion-label>

  <div class="terms">
      <ion-label>
        By tappin on Agree and Continue you agree to our <ion-text color="secondary">Terms & Conditions</ion-text>
      </ion-label>
  </div>
  
  <div class="sign-up-btn">
    <ion-button class="bordered-btn" center color="primary" routerLink="/signup1" routerDirection="root">Agree & Continue</ion-button>
  </div>
</ion-content>
